@{
    ViewData["Title"] = "Email Collector";
}

<div class="row">
    <div class="col-md-12">
        <h2>Please provide an email address</h2>
        <p>Your account appears to be missing an email address. You must provide one before continuing.</p>
    </div>
</div>


@if (User.Identity.IsAuthenticated && Model.IsSuccess == false)
{
    <form asp-controller="Home" asp-action="UpdateEmail" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

}

@if (Model.IsSuccess)
{
    <span style="color:forestgreen"> Email updated successfully</span>
    @if (Model.HasState)
    {
        <form asp-controller="Home" asp-action="continue" method="get">
            <button type="submit" class="btn btn-primary">Continue</button>
        </form>
    }

}